---
layout: default
---

<section class="intro">

	<div class="wrap">
	</div>
</section>

<section class="single">
    
  {{ page.content }}

</section>

<!-- <section>
{% include gallery %}
</section> -->

<section class="page__related">
  
    <h3 class="page__related-title">You May Also Enjoy</h3>

    <div class="content-wrap portfolio-wrap">
      {% for page in site.projects reversed limit:4 %}
      <div class="portfolio-item">

        <a class="portfolio-item__link" href="{{ page.url | relative_url }}">
        
          <div class="portfolio-item__image">
            <img src="{{ page.featured_image | relative_url }}" alt="{{ page.title }}">
          </div>  
       
          <div class="portfolio-item__content">
            <div class="portfolio-item__info">
              <h2 class="portfolio-item__title">
                {{ page.title }}
              </h2>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
</section>








